<app-user-list (selectUser)="userIsSelected_1($event)" [userListItems]="itemsFirst" [showResults]="false" [bgClass]="'bg-warning'"></app-user-list>

<div class="m-3 div rounded p-2 bg-secondary text-center">
  <h1 class="display-6 text-white fw-bold">{{ currentUser_1?.name }}</h1>
  <button class="btn btn-light" (click)="reset_1()">reset</button>
</div>

<app-user-list (selectUser)="userIsSelected_2($event)" [userListItems]="itemsSecond" [showResults]="true" [bgClass]="'bg-info'"></app-user-list>

<div *ngIf="!currentUser_1" class="m-3 div rounded p-2 bg-secondary text-center">
  <h1 class="display-6 text-white fw-bold">{{ currentUser_2?.name }}</h1>
</div>

