<div class="d-flex justify-content-center align-items-center mt-2 mb-2">
  <button [routerLink]="'/contact/edit/0'" class="btn btn-primary btn-sm" type="button">create</button>
</div>
<div class="card">
  <div class="card-header">Contacts</div>
  <div class="list-group list-group-flush">
    <div *ngFor="let item of items"
         [routerLink]="'../detail/' + item.id"
         class="list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          {{ item.name }} - {{ item.email}}
        </div>
        <div>
          <button [routerLink]="'/contact/edit/' + item.id" class="btn btn-primary btn-sm" type="button">edit</button>
        </div>
      </div>
      <!--      - {{ item.color }}-->
    </div>
  </div>
</div>
