<app-header [headerTitle]="appTitle"></app-header>

<div class="navbar bg-light text-white w-100">
  <div class="d-flex align-items-center justify-content-center w-100">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          [routerLinkActive]="'active'"
          [routerLink]="'home'"
          class="nav-link"
        >Home</a>
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="'active'"
          [routerLink]="'contact'"
          class="nav-link"
        >Contact</a>
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="'active'"
          [routerLink]="'users'"
          class="nav-link"
        >Users</a>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
