<div class="container-fluid d-flex justify-content-center">
  <div class="p-3 m-2 gy-3 gap-1" style="width: 50%;">
    <form [formGroup]="form">
      <label class="form-label">Name :</label>
      <input class="form-control" id="name" type="text" formControlName="name"/><br />

      <label class="form-label">Matos :</label>
      <input class="form-control" id="matos" type="text" formControlName="matos"/><br />

      <label class="form-label">Haircolor :</label>
      <input class="form-control" id="haircolor" type="text" formControlName="haircolor"/><br />
      <div class="d-flex justify-content-between">
        <button [routerLink]="'/users'" class="btn btn-danger">Retour</button>
        <button [disabled]="form.invalid" class="btn btn-success d-flex justify-content-center" type="button" (click)="submit()">Valider</button>
      </div>
    </form>
  </div>
</div>
