<div class="container-fluid">

  <div class="row mt-4">

    <div *ngIf="showResults===true" class="col-12">
      <h2 class="display-4">
        Résultats
        <small class="text-muted">{{ userListItems.length }}</small>
      </h2>
    </div>

    <div class="col-12">
      <div class="list-group">
        <a *ngFor="let el of userListItems, let index = index;" (click)="userOnClick(el, index)" class="list-group-item">
          <app-user-list-item [userListItem]="el" [bgClass]="bgClass"></app-user-list-item>
        </a>
      </div>
    </div>
  </div>

</div>
