<div class="container-fluid">

  <div class="row mt-4">

    <div *ngIf="showResults===true" class="col-12">
      <h2 class="display-4">
        Résultats
        <small class="text-muted">{{ userListItems.length }}</small>
      </h2>
    </div>

    <div class="col-12">
      <div class="list-group">
        <div *ngFor="let el of userListItems" class="list-group-item">
          <app-user-list-item [userListItem]="el" [bgClass]="bgClass"></app-user-list-item>
        </div>
      </div>
    </div>

  </div>

</div>
